@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');
$themeColor: #B16A7C;

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Mulish', sans-serif;
}

a {
    text-decoration: none;
}

figure {
    margin-bottom: 0;
}