@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap');

$themeColor: #B16A7C;
$themeHover: #864656;
$animation: all .5s ease;
$contentSize: 18px;
$titleSize: 45px;

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Mulish', sans-serif;
}

a {
    text-decoration: none;
}

figure {
    margin-bottom: 0;
}